<html>

  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>

    <a id="login" href="{{ url }}">{{ url_linktext }}</a>

    <h1>Welcome to my GAEstbook</h1>

    {% if not logged_in %}
        <h2>Please <a href="{{ url }}">{{ url_linktext|lower }}</a> and leave a message</h2>
    {% else %}
        <h2>Please leave a message</h2>
    {% endif %}

    {% if logged_in %}
        <form action="/sign" method="post">
          <div><textarea name="content" rows="3" cols="60"></textarea></div>
          <div><input type="submit" value="Sign Guestbook"></div>
        </form>
    {% endif %}

    <h2>Messages</h2>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
    
    <p id="footer">Based on: <a href="http://code.google.com/appengine/docs/python/gettingstarted/">http://code.google.com/appengine/docs/python/gettingstarted/</a>. Fork code on Github: <a href="https://github.com/aclark4life/First-GAE-App">https://github.com/aclark4life/First-GAE-App</a>.</p>

  </body>
</html>
